name: concrete
channels:
  - anaconda
  - conda-forge
  - defaults
dependencies:
  - _libgcc_mutex=0.1
  - _openmp_mutex=4.5
  - aiofiles=22.1.0
  - aiosqlite=0.18.0
  - alabaster=0.7.16
  - alsa-lib=1.2.10
  - anyio=3.5.0
  - argon2-cffi=21.3.0
  - argon2-cffi-bindings=21.2.0
  - asttokens=2.4.1
  - attr=2.5.1
  - attrs=23.2.0
  - babel=2.11.0
  - beautifulsoup4=4.12.2
  - black=23.12.1
  - bleach=6.1.0
  - brotli=1.1.0
  - brotli-bin=1.1.0
  - brotli-python=1.1.0
  - bzip2=1.0.8
  - ca-certificates=2023.11.17
  - cairo=1.18.0
  - certifi=2023.11.17
  - cffi=1.16.0
  - charset-normalizer=3.3.2
  - click=8.1.7
  - colorama=0.4.6
  - comm=0.1.2
  - contourpy=1.2.0
  - coverage=7.4.0
  - cycler=0.12.1
  - dbus=1.13.6
  - debugpy=1.6.7
  - decorator=5.1.1
  - defusedxml=0.7.1
  - docutils=0.20.1
  - entrypoints=0.4
  - exceptiongroup=1.2.0
  - executing=2.0.1
  - expat=2.5.0
  - flake8=7.0.0
  - flake8-nb=0.1.4
  - font-ttf-dejavu-sans-mono=2.37
  - font-ttf-inconsolata=3.000
  - font-ttf-source-code-pro=2.038
  - font-ttf-ubuntu=0.83
  - fontconfig=2.14.2
  - fonts-conda-ecosystem=1
  - fonts-conda-forge=1
  - fonttools=4.47.2
  - freetype=2.12.1
  - gettext=0.21.1
  - glib=2.78.3
  - glib-tools=2.78.3
  - gmp=6.3.0
  - graphite2=1.3.13
  - gst-plugins-base=1.22.8
  - gstreamer=1.22.8
  - harfbuzz=8.3.0
  - icu=73.2
  - idna=3.6
  - imagesize=1.4.1
  - importlib-metadata=7.0.1
  - importlib_metadata=7.0.1
  - importlib_resources=6.1.1
  - iniconfig=2.0.0
  - ipykernel=6.25.0
  - ipython=8.20.0
  - ipython_genutils=0.2.0
  - ipywidgets=8.0.4
  - isort=5.13.2
  - jedi=0.19.1
  - jinja2=3.1.3
  - json5=0.9.6
  - jsonschema=4.20.0
  - jsonschema-specifications=2023.12.1
  - jupyter=1.0.0
  - jupyter_client=8.6.0
  - jupyter_console=6.6.3
  - jupyter_core=5.7.1
  - jupyter_events=0.8.0
  - jupyter_server=2.10.0
  - jupyter_server_fileid=0.9.0
  - jupyter_server_terminals=0.4.4
  - jupyter_server_ydoc=0.8.0
  - jupyter_ydoc=0.2.4
  - jupyterlab=3.6.3
  - jupyterlab_pygments=0.3.0
  - jupyterlab_server=2.25.1
  - jupyterlab_widgets=3.0.9
  - kaggle=1.6.3
  - keyutils=1.6.1
  - kiwisolver=1.4.5
  - krb5=1.21.2
  - lame=3.100
  - lcms2=2.16
  - ld_impl_linux-64=2.40
  - lerc=4.0.0
  - libblas=3.9.0
  - libbrotlicommon=1.1.0
  - libbrotlidec=1.1.0
  - libbrotlienc=1.1.0
  - libcap=2.69
  - libcblas=3.9.0
  - libclang=15.0.7
  - libclang13=15.0.7
  - libcups=2.3.3
  - libdeflate=1.19
  - libedit=3.1.20191231
  - libevent=2.1.12
  - libexpat=2.5.0
  - libffi=3.4.2
  - libflac=1.4.3
  - libgcc-ng=13.2.0
  - libgcrypt=1.10.3
  - libgfortran-ng=13.2.0
  - libgfortran5=13.2.0
  - libglib=2.78.3
  - libgomp=13.2.0
  - libgpg-error=1.47
  - libiconv=1.17
  - libjpeg-turbo=3.0.0
  - liblapack=3.9.0
  - libllvm15=15.0.7
  - libnsl=2.0.1
  - libogg=1.3.4
  - libopenblas=0.3.25
  - libopus=1.3.1
  - libpng=1.6.39
  - libpq=16.1
  - libsndfile=1.2.2
  - libsodium=1.0.18
  - libsqlite=3.44.2
  - libstdcxx-ng=13.2.0
  - libsystemd0=255
  - libtiff=4.6.0
  - libuuid=2.38.1
  - libvorbis=1.3.7
  - libwebp-base=1.3.2
  - libxcb=1.15
  - libxcrypt=4.4.36
  - libxkbcommon=1.6.0
  - libxml2=2.12.3
  - libzlib=1.2.13
  - lz4-c=1.9.4
  - markupsafe=2.1.3
  - matplotlib=3.8.2
  - matplotlib-base=3.8.2
  - matplotlib-inline=0.1.6
  - mccabe=0.7.0
  - mistune=3.0.2
  - mpg123=1.32.4
  - munkres=1.1.4
  - mypy=1.8.0
  - mypy_extensions=1.0.0
  - mysql-common=8.0.33
  - mysql-libs=8.0.33
  - nbclassic=1.0.0
  - nbclient=0.8.0
  - nbconvert=7.14.1
  - nbconvert-core=7.14.1
  - nbconvert-pandoc=7.14.1
  - nbformat=5.9.2
  - ncurses=6.4
  - nest-asyncio=1.5.6
  - notebook=6.5.4
  - notebook-shim=0.2.3
  - nspr=4.35
  - nss=3.96
  - numpy=1.26.3
  - openjpeg=2.5.0
  - openssl=3.2.0
  - overrides=7.4.0
  - packaging=23.2
  - pandas=2.1.4
  - pandoc=3.1.3
  - pandocfilters=1.5.0
  - parso=0.8.3
  - pathspec=0.12.1
  - pcre2=10.42
  - pexpect=4.8.0
  - pickleshare=0.7.5
  - pillow=10.2.0
  - pip=23.3.2
  - pixman=0.43.0
  - pkgutil-resolve-name=1.3.10
  - platformdirs=4.1.0
  - pluggy=1.3.0
  - ply=3.11
  - prometheus_client=0.14.1
  - prompt-toolkit=3.0.42
  - prompt_toolkit=3.0.42
  - psutil=5.9.0
  - pthread-stubs=0.4
  - ptyprocess=0.7.0
  - pulseaudio-client=16.1
  - pure_eval=0.2.2
  - pycodestyle=2.11.1
  - pycparser=2.21
  - pyflakes=3.2.0
  - pygments=2.17.2
  - pyparsing=3.1.1
  - pyqt=5.15.9
  - pyqt5-sip=12.12.2
  - pysocks=1.7.1
  - pytest=7.4.4
  - pytest-runner=6.0.0
  - python=3.10.13
  - python-dateutil=2.8.2
  - python-dotenv=1.0.0
  - python-fastjsonschema=2.19.1
  - python-json-logger=2.0.7
  - python-slugify=8.0.1
  - python-tzdata=2023.4
  - python_abi=3.10
  - pytz=2023.3.post1
  - pyyaml=6.0.1
  - pyzmq=25.1.2
  - qt-main=5.15.8
  - qtconsole=5.5.0
  - qtpy=2.4.1
  - readline=8.2
  - referencing=0.32.1
  - requests=2.31.0
  - rfc3339-validator=0.1.4
  - rfc3986-validator=0.1.1
  - rpds-py=0.17.1
  - send2trash=1.8.2
  - setuptools=69.0.3
  - sip=6.7.12
  - six=1.16.0
  - sniffio=1.2.0
  - snowballstemmer=2.2.0
  - soupsieve=2.5
  - sphinx=7.2.6
  - sphinxcontrib-applehelp=1.0.8
  - sphinxcontrib-devhelp=1.0.6
  - sphinxcontrib-htmlhelp=2.0.5
  - sphinxcontrib-jsmath=1.0.1
  - sphinxcontrib-qthelp=1.0.7
  - sphinxcontrib-serializinghtml=1.1.10
  - stack_data=0.6.2
  - terminado=0.17.1
  - text-unidecode=1.3
  - tinycss2=1.2.1
  - tk=8.6.13
  - toml=0.10.2
  - tomli=2.0.1
  - tornado=6.3.3
  - tqdm=4.66.1
  - traitlets=5.14.1
  - typing-extensions=4.9.0
  - typing_extensions=4.9.0
  - tzdata=2023d
  - unicodedata2=15.1.0
  - urllib3=2.1.0
  - wcwidth=0.2.13
  - webencodings=0.5.1
  - websocket-client=0.58.0
  - wheel=0.42.0
  - widgetsnbextension=4.0.5
  - xcb-util=0.4.0
  - xcb-util-image=0.4.0
  - xcb-util-keysyms=0.4.0
  - xcb-util-renderutil=0.3.9
  - xcb-util-wm=0.4.1
  - xkeyboard-config=2.40
  - xorg-kbproto=1.0.7
  - xorg-libice=1.1.1
  - xorg-libsm=1.2.4
  - xorg-libx11=1.8.7
  - xorg-libxau=1.0.11
  - xorg-libxdmcp=1.1.3
  - xorg-libxext=1.3.4
  - xorg-libxrender=0.9.11
  - xorg-renderproto=0.11.1
  - xorg-xextproto=7.3.0
  - xorg-xf86vidmodeproto=2.3.1
  - xorg-xproto=7.0.31
  - xz=5.2.6
  - y-py=0.5.9
  - yaml=0.2.5
  - ypy-websocket=0.8.2
  - zeromq=4.3.5
  - zipp=3.17.0
  - zlib=1.2.13
  - zstd=1.5.5
prefix: /home/aleksei/miniconda3/envs/concrete
